[build]
  command = "pnpm build:web"
  publish = "apps/web/.next"

[build.environment]
  NODE_VERSION = "20"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[context.development]
  command = "pnpm build:web"

[context.staging]
  command = "pnpm build:web"

[context.production]
  command = "pnpm build:web"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
