@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #00008B, #006400, #FFD700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-box {
  background: linear-gradient(to right, #00008B, #006400, #FFD700);
}
